extends ../layouts/main.pug 

include ../mixins/action

block content
    
    table.table.table-dark
        thead.thead-dark
            tr
                th(scope="col").h5.font-weight-bold # Kullanıcı Adı
                th(scope="col").h5.font-weight-bold # Operasyon
                th(scope="col").h5.font-weight-bold # Tarih
        tbody.tbody-dark
            if objects !== null
                each object in objects
                    +createList(object)
            else
                 