extends ../layouts/main.pug 

block styles
     
    link(rel="stylesheet" href="http://localhost:3000/css/book.css")
block content
    .row.mt-5
        .col-4
            input.w-100.h-100#searchInput(type="text" placeholder="Google'da arama yapabilirsiniz.")
        .col-2
            input.btn.btn-outline-warning.btn-lg#searchButton(type="button" value="Ara")
        
            
    hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")
    .progress#progresBar.h-100.d-none.bg-dark
        .progress-bar.progress-bar-striped.progress-bar-animated.bg-dark.rounded-pill(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;") 
            p.h4 Yükleniyor....
        
        

    .row.mt-2
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Çok Satanlar
                a(href="books/bestseller")
                    img.card-img-top(src="http://localhost:3000/img/books/bestseller.jpeg" style="height:200px")
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Suç
                a(href="books/crime")
                    img.card-img-top(src="http://localhost:3000/img/books/crime.jpg" style="height:200px")
    
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Sanat
                a(href="books/art")
                    img.card-img-top(src="http://localhost:3000/img/books/art.jpg" style="height:200px")
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Çocuk
                a(href="books/children")
                    img.card-img-top(src="http://localhost:3000/img/books/children.jpg" style="height:200px")
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Eğitim
                a(href="books/education")
                    img.card-img-top(src="http://localhost:3000/img/books/education.png" style="height:200px")
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Bilgisayar
                a(href="books/computer")
                    img.card-img-top(src="http://localhost:3000/img/books/computer.jpg" style="height:200px")
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Tarih
                a(href="books/history")
                    img.card-img-top(src="http://localhost:3000/img/books/history.jpg" style="height:200px")
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Ekonomi
                a(href="books/economy")
                    img.card-img-top(src="http://localhost:3000/img/books/economy.jpeg" style="height:200px")
        
        .col-lg-3.col-md-4.mt-5
            .card.rounded-lg.border-0
                .card-header.text-warning.text-center.border-0.bg-dark.h5.font-weight-bold Politika
                a(href="books/politics")
                    img.card-img-top(src="http://localhost:3000/img/books/politics.jpg" style="height:200px")
        


block scripts
        script(src="http://localhost:3000/js/books.js") 