extends ../layouts/main.pug 

block content
    .card.text-center.border-0
        .card-body.bg-dark
            .card-text
                form(name="contact" for="/user/contact" method="POST")

                    .form-group.row
                        label.col-md-2.col-form-label.col-form-label-lg.text-warning.font-weight-bold(for="formFirstName") Ad:
                        .col-md-4
                            input.form-control.form-control-md#formFirstName.bg-dark.text-light(type="text" placeholder="First name" style="font-size:20px" name="firstname" required)
                            
                        label.col-md-2.col-form-label.col-form-label-lg.text-warning.font-weight-bold(for="formLastName") Soyad:
                        .col-md-4
                            input.form-control.form-control-md#formLastName.bg-dark.text-light(type="text" placeholder="Last name" style="font-size:20px" name="lastname" required)
                    
                    .form-group.row.mt-4
                        label.col-md-2.col-form-label.col-form-label-lg.text-warning.font-weight-bold(for="formEmail") Email:
                        .col-md-10
                            input.form-control.form-control-md#formEmail.bg-dark.text-light(type="email" placeholder="Email" style="font-size:20px" name="email" required)

                    .form-group.row.mt-4
                        label.col-md-2.col-form-label.col-form-label-lg.text-warning.font-weight-bold(for="formTextarea") Metin:
                        .col-md-10                        
                            textarea.form-control.form-control-md.bg-dark.text-light#formTextarea(rows="5" placeholder="Textarea" style="font-size:20px" name="text" required)

                    .form-group.row.mt-4                
                        label.col-md-2.col-form-label.col-form-label-lg.text-warning.font-weight-bold(for="formCategory") Kategori:
                        .col-md-3
                            select.form-control.form-control-md#formCategory(name="category")
                                option Filmler
                                option Etkinlikler
                                option Sinema
                                option Kitap
                                option Covid-19
                                option Kullanıcı Paneli
                                option Genel 
                    
                    .form-group-row.mt-5
                        input.mt-2.btn.btn-outline-warning.rounded-pill.form-control.btn-lg(type="submit" value="Gönder" style="width:225px;")
                    
                    

                        
    
    
  
