extends ../layouts/main.pug 

block content
    .card.border-0
        .card-header.border-0.text-center.text-light.bg-dark.h3.font-weight-bolder #STAYHOMESAVELIVES
        .card-body.text-light.bg-dark
            
            .row
                
                .col-md-6.border-right.border-bottom
                    .card-title.text-center.h3.mb-4 
                        i.fas.fa-globe-americas.fa-3x

                    .card-text.mb-4
                        span.h5
                            b Total Test :
                            p.d-inline#toplamtest.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Total Case :
                            p.d-inline#toplamvaka.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Total Death :
                            p.d-inline#toplamolum.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Total Critical :
                            p.d-inline#toplamcritic.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Total Recovered :
                            p.d-inline#toplamkurtarilan.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Daily Case :
                            p.d-inline#gunlukvaka.text-danger.h4(style="font-size:30px;")

                        
                    .card-text.mb-4
                        span.h5
                            b Daily Death :
                            p.d-inline#gunlukolum.text-danger.h4(style="font-size:30px;")
                            


                .col-md-6.border-left.border-bottom
                    .card-title.text-center.h4
                        select.custom-select.mb-5.custom-select-lg#select
                        
                    .card-tex.mb-4
                        span.h5
                            b Total Test :
                            p.d-inline#countrytoplamtest.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Total Case :
                            p.d-inline#countrytoplamvaka.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Total Death :
                            p.d-inline#countrytoplamolum.text-danger.h4(style="font-size:30px;")

                    .card-tex.mb-4
                        span.h5
                            b Total Critical :
                            p.d-inline#countrytoplamcritic.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Total Recovered :
                            p.d-inline#countrytoplamkurtarilan.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Daily Case :
                            p.d-inline#countrygunlukvaka.text-danger.h4(style="font-size:30px;")

                    .card-text.mb-4
                        span.h5
                            b Daily Death :
                            p.d-inline#countrygunlukolum.text-danger.h4(style="font-size:30px;")
                        
                



block scripts
    script(src="http://localhost:3000/js/covid-19.js")
