extends ../layouts/main.pug 

block content
    

    .h1.text-warning.text-center.font-weight-bold Dökümantasyon
        hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")

    .h4.text-warning.mt-5.font-weight-bold Filmler ve Diziler
    p.lead.text-light Bu bölüm içerisinde yer alan içeriklerde istediğiniz kategorideki filmi, istediğininiz kategorideki diziyi ve istediğiniz platformdaki içerikleri bulabilirsiniz. Uzun süreli yaptığınız işlemlerden sonra Atiba sizin için en çok tercih ettiğiniz içeriklere benzer içerikleri karşınıza çıkaracaktır güvenebilirsiniz. Ulaştığınız içerikleri bağlantı linkleri aracılığıyla içerik sağlayıcısından kiralayabilir, satın alabilir veya platforma üye olabilirsiniz.
    
    .h4.text-warning.mt-5.font-weight-bold Etkinlikler
    p.lead.text-light Bu bölüm içerisinde yer alan önümüzdeki 1 ay içerisinde düzenlenecek etkinliklere ulaşabilirsiniz. Ulaştığınız içeriklerden bağlantı linklerini kullanarak bilet alma işlemlerini gerçekleştirebilirsiniz.

    .h4.text-warning.mt-5.font-weight-bold Sinema
    p.lead.text-light Bu bölüm içerisinde yer alan vizyondaki filmlerden istediğiniz film için bilet alma işlemi gerçekleştirebilirsiniz.

    .h4.text-warning.mt-5.font-weight-bold Kitaplar
    p.lead.text-light Bu bölüm içerisinde yer alan içeriklerde istediğiniz kategorideki kitapları ve en çok satan kitapları bulabilirsiniz. Uzun süreli yaptığınız işlemlerden sonra Atiba sizin için en çok tercih ettiğiniz içeriklere benzer içerikleri karşınıza çıkaracaktır güvenebilirsiniz. Bağlantı linkleri ile istediğiniz kitabı satın alma işlemi gerçekleştirebilirsiniz.

    .h4.text-warning.mt-5.font-weight-bold Covid-19
    p.lead.text-light Bu bölüm içerisinde yer alan içerikte dünya üzerindeki ve seçtiğiniz ülkedeki tüm covid-19 bilgilerine ulaşabilirsiniz.

    .h4.text-warning.mt-5.font-weight-bold İletişim
    p.lead.text-light Bu bölüm içerisinde gerekli formu doldurup seçtiğiniz kategori ile ilgili bize bildirim gönderebilirsiniz.

    .h4.text-warning.mt-5.font-weight-bold Hesap
    p.lead.text-light Bu bölüm içerisinde kullanıcı hesabınıza ait tüm veriyi güncelleyebilirisiniz.

    .h4.text-warning.mt-5.font-weight-bold Kullanıcı Aksiyonları
    p.lead.text-light Bu bölüm içerisinde giriş yaptığınız işlemlerin tarih ve kullanıcı adı bilgilerine ulaşabilirsiniz.
  
    .h4.text-warning.mt-5.font-weight-bold Dökümantasyon
    p.lead.text-light Nerede ne var hangi kategori altında neler bulabilirsiniz site içerisindeki bilgileri öğrenmek istiyorsanız şuan yaptığınız gibi okumanız yeterli:)