extends ../layouts/main.pug 


include ../mixins/events

block styles

    link(rel="stylesheet" href="http://localhost:3000/css/event.css")

block content
     
        .h1.text-warning.text-center Etkinlikler
        hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")

    
        .progress#progresBar.bg-dark.h-25
            .progress-bar.progress-bar-striped.progress-bar-animated.bg-dark.rounded-pill(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;") 
                .h5 Yükleniyor....
        
        .row.d-none#row
            if events !== null
                each event in events
                    .col-lg-4.col-md-6.my-3
                        +createList(event)
            else 
                .text-center.text-light.h1 No Documents

block scripts
    script(src="http://localhost:3000/js/events.js")
            