extends ../layouts/main.pug 

block content
    
    form
        .form-group
            label.text-muted.h4(for="exampleInputEmail1")
            input.bg-dark.form-control#exampleInputEmail1.form-control-lg.text-light(type="email" placeholder="Please enter your email address:" required)
            small.form-text.text-muted.float-right Kişisel bilgileriniz 3. taraf kişilerle paylaşılmıyor bize güvenebilirsiniz.
  
        a(href="/").btn.btn-outline-light.btn-lg.mt-4 Mail Gönder    