extends ../layouts/main.pug 

block content
    
    form
        .form-group
            label.text-muted.h4(for="exampleInputEmail1")
            input.bg-dark.form-control#exampleInputEmail1.form-control-lg.text-light(type="email" placeholder="Please enter your email address:" required)
            small.form-text.text-muted.float-right We'll never share your email with anyone else.
  
        a(href="/").btn.btn-outline-light.btn-lg.mt-4 Send Email    