extends ../layouts/main.pug 

block content
    .row
        .col-md-4
            form.form-group#loginform(name="login" for="/login" method="POST")
                
     
                input.form-control.form-control-lg.bg-dark.text-light#usernamebox(type="text" placeholder="Username" name="username" required)
                    
                input.form-control.form-control-lg.mt-4.bg-dark.text-light#passwordbox(type="password" placeholder="Password" name="password" required)
                small.badge.d-flex.justify-content-end.mt-1
                    a.stretched-link.text-warning(href="/forget" style="position: relative;") Did you forget your password ?
                
                .form-check.mt-3
                    input.form-check-input#checkbox(type="checkbox")
                    label.form-check-label.text-light Remember me
                
                .progress.d-none.mt-4#progresBar
                    .progress-bar.progress-bar-striped.progress-bar-animated.bg-success(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%")
                
                input.mt-3.btn.btn-outline-light.btn-lg.rounded-pill.form-control.btn-block#submitbutton(type="submit" value="Login")
        
        
        .col-md-8.text-light
            p.m-0.font-weight-bolder.h6 We respect your privacy and do not tolerate spam and will never sell, rent, lease or give away your information (name, address, email, etc.) to any third party. Not will we send you unsolicited email.

block scripts
    script(src="http://localhost:3000/js/login.js")