extends ../layouts/main.pug 


block content

    .row
        .col-lg-4.col-md-6
            .card
                a(href="movies/all" target="_blank")
                    img.card-img-top(src="http://localhost:3000/img/movies.png" style="width:325px; height:150px;")
        .col-lg-4.col-md-6
            .card
                a(href="movies/top250" target="_blank")
                    img.card-img-top(src="http://localhost:3000/img/top250.png" style="width:325px; height:150px;")
        .col-lg-4.col-md-6
            .card
                a(href="movies/netflix" target="_blank")
                    img.card-img-top(src="http://localhost:3000/img/netflix.png" style="width:325px; height:150px;")
    
    .row.mt-3
        .col-lg-4.col-md-6
            .card
                a(href="movies/toprated" target="_blank")
                    img.card-img-top(src="http://localhost:3000/img/toprated.png" style="width:325px; height:150px;")
        .col-lg-4.col-md-6
            .card
                a(href="movies/comics" target="_blank")
                    img.card-img-top(src="http://localhost:3000/img/comics.png" style="width:325px; height:150px;")
        .col-lg-4.col-md-6
            .card
                a(href="movies/selector" target="_blank")
                    img.card-img-top(src="http://localhost:3000/img/smartselector.png" style="width:325px; height:150px;")