extends ../layouts/main.pug 

block styles
    link(rel="stylesheet" href="http://localhost:3000/css/movies.css")

block content
    
    .row.mt-5
        .col-4
            input.w-100.h-100#searchInput(type="text" placeholder="Search on google")
        .col-2
            input.btn.btn-outline-light.btn-lg#searchButton(type="button" value="Search")
        
            
    hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")
    .progress#progresBar.h-100.d-none.bg-dark
        .progress-bar.progress-bar-striped.progress-bar-animated.bg-dark.rounded-pill(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;") 
            p.h4 Loading....
        
        

    .row.mt-2
        
        .col-lg-4.col-md-6.mt-5
            .card.rounded-lg.border-0
                .card-header.text-light.text-center.border-0.bg-dark.h4 Smart Picker
                a.border-0(href="movies/selector")
                    img.card-img-top(src="" style="height:300px;")
        
        .col-lg-4.col-md-6.mt-5
            .card.rounded-lg.border-0
                .card-header.text-light.text-center.border-0.bg-dark.h4 Movie & TV Series
                a(href="movies/movietv")
                    img.card-img-top(src="http://localhost:3000/img/movies/all.webp" style="height:300px;")

        .col-lg-4.col-md-6.mt-5
            .card.rounded-lg.border-0
                .card-header.text-light.text-center.border-0.bg-dark.h4 IMDB TOP 50
                a(href="movies/top50")
                    img.card-img-top(src="http://localhost:3000/img/movies/top50.png" style="height:300px;")

        
block scripts
        script(src="http://localhost:3000/js/movies.js") 