extends ../layouts/main.pug 


block content
    
    .row.mt-5
        .col-4
            input.w-100.h-100(type="text" placeholder="Aradığınız filmin adını giriniz")
        .col-2
            input.btn.btn-outline-light.btn-lg(type="button" value="Search")
        
            
    hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")
    .progress#progresBar.h-100.d-none.bg-dark
        .progress-bar.progress-bar-striped.progress-bar-animated.bg-dark.rounded-pill(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;") 
            p.h4 Loading....
        
        

    .row.mt-2
        
        .col-lg-4.col-md-6.mt-5
            .card
                a(href="movies/selector")
                    img.card-img-top(src="http://localhost:3000/img/movies.png" style="height:550px;")
        
        .col-lg-4.col-md-6.mt-5
            .card
                a(href="movies/movietv")
                    img.card-img-top(src="http://localhost:3000/img/top250.png" style="height:550px;")
        
        .col-lg-4.col-md-6.mt-5
            .card
                a(href="movies/top50")
                    img.card-img-top(src="http://localhost:3000/img/netflix.png" style="height:550px;")
    
        
block scripts
        script(src="http://localhost:3000/js/movies.js") 