extends ../layouts/main.pug 

block content 
    a.btn.btn-outline-success.text-light.btn-block.border-0.btn-lg.p-5(href="/login") Kayıt işleminiz başarı ile sonuçlanmıştır. Login işleminizi gerçekleştirebilirsiniz.
    
        
            