extends ../layouts/main.pug 

block content 
    a.btn.btn-outline-warning.text-light.btn-block.border-0(href="/login") Kayıt işleminiz başarı ile sonuçlanmıştır. Login işleminizi gerçekleştirebilirsiniz.
    
        
            