extends ../layouts/main.pug 

block content
    .row
        .col-md-4
            form.form-group(name="sign-up" for="/sign-up" method="POST")
                
     
                input.form-control.form-control-lg.bg-dark.text-light(type="text" placeholder="Username" name="username" required)

                input.form-control.form-control-lg.mt-4.bg-dark.text-light(type="text" placeholder="Name" name="name" required)

                input.form-control.form-control-lg.mt-4.bg-dark.text-light(type="text" placeholder="Surname" name="surname" required)

                input.form-control.form-control-lg.mt-4.bg-dark.text-light(type="email" placeholder="Email" name="email" required)

                input.form-control.form-control-lg.mt-4.bg-dark.text-light(type="password" placeholder="Password" name="password" required)
                    
                input.mt-5.btn.btn-outline-warning.btn-lg.rounded-pill.form-control.btn-block(type="submit" value="Kayıt Ol")
        
        .col-1
        .col-md-7.text-warning
            p.m-0.lead.h4.font-weight-bolder İstediğiniz her şeyi bulabileceğiniz içerik dünyasına hoşgeldiniz. Atibayla tanışmaya çok yakınsınız

