extends ../layouts/main.pug 

block styles
  
    link(rel="stylesheet" href="http://localhost:3000/css/user.css")

block content 


    .h4.text-light.text-center.text-uppercase.font-weight-bold#baslik
    hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")
       
    .row.mt-3
        
        .col-sm-6.col-md-4.col-lg-3.mt-4 
            a(href="/user/movies").text-decoration-none
                span.text-warning.d-flex.justify-content-center.font-weight-bolder.h6 Filmler ve Diziler
                img(src="http://localhost:3000/img/movies/all.webp" style="width:200px; height:275px;")
        
        .col-sm-6.col-md-4.col-lg-3.mt-4
            a(href="/user/events").text-decoration-none
                span.text-warning.d-flex.justify-content-center.font-weight-bolder.h6  Etkinlikler
                img(src="http://localhost:3000/img/events.png" style="width:200px; height:275px;")
        
        .col-sm-6.col-md-4.col-lg-3.mt-4
            a(href="/user/cinema").text-decoration-none
                span.text-warning.d-flex.justify-content-center.font-weight-bolder.h6 Sinema
                img(src="http://localhost:3000/img/filmler.jpeg" style="width:200px; height:275px;")
        
        .col-sm-6.col-md-4.col-lg-3.mt-4
           a(href="/user/books").text-decoration-none
                span.text-warning.d-flex.justify-content-center.font-weight-bolder.h6  Kitaplar
                img(src="http://localhost:3000/img/kitaplar.jpeg" style="width:200px; height:275px;")



block scripts
    script(src="http://localhost:3000/js/user.js")
