html(lang="en")

    include ../includes/head

    body.bg-dark
       
        .container
            include ../includes/navbar
            hr.bg-white.w-100
        
        .container.my-5
            block content

        
    include ../includes/scripts







    
