<!doctype html>
html(lang="en")

    include ../includes/head


    body.bg-dark
       
        .row
            .col-1
                img(src="http://localhost:3000/img/banner.jpg" alt="banner" style="position:fixed; width:100px; height:100%; left:0px; top: 125px;")
            .col-10
                .container
                    include ../includes/navbar
                .row
                    .col-1.mx-0
                    .col-10.mx-0
                        .container#contentContainer
                            block content
                    .col-1.mx-0
            .col-1
                img(src="http://localhost:3000/img/banner.jpg" alt="banner" style="position:fixed; width:100px; height:100%; right:0px; top: 125px;")


        
        

    include ../includes/scripts