extends layouts/main.pug 

block styles
    link(rel="stylesheet" href="http://localhost:3000/css/style.css")

block content 
    #slider
        a(href="/login")
            img(src="http://localhost:3000/img/1.jpg" alt="Örümcek Adam 3")
        a(href="/login")
            img(src="http://localhost:3000/img/2.jpg" alt="15 Mayıs'ta Sinemalarda")
        a(href="/login")
            img(src="http://localhost:3000/img/3.jpg" alt="Yeni Maceralarıyla")
        a(href="/login")
            img(src="http://localhost:3000/img/4.jpg" alt="Sinema severleri")
        a(href="/login")
            img(src="http://localhost:3000/img/5.jpg" alt="ve ")
        a(href="/login")
            img(src="http://localhost:3000/img/6.jpg" alt="Hayranlarını bekliyor")

        
    
block scripts
    script(src="http://localhost:3000/js/slider.js")