extends layouts/main.pug 

block styles
    link(rel="stylesheet" href="http://localhost:3000/css/style.css")

block content 
    #slider
        a(href="/login")
            img(src="http://localhost:3000/img/1.jpg" alt="Merhaba")
        a(href="/login")
            img(src="http://localhost:3000/img/2.jpg" alt="Hakan")
        a(href="/login")
            img(src="http://localhost:3000/img/3.jpg" alt="Hello World")
        a(href="/login")
            img(src="http://localhost:3000/img/4.jpg" alt="World")
        a(href="/login")
            img(src="http://localhost:3000/img/5.jpg" alt="Hello")
        a(href="/login")
            img(src="http://localhost:3000/img/6.jpg" alt="Merhaba")

        
    
block scripts
    script(src="http://localhost:3000/js/slider.js")