extends ../../layouts/main.pug 

include ../../mixins/books.pug

block styles
    link(rel="stylesheet" href="http://localhost:3000/css/books.css")

block content
    
      a.text-white(href="/user/books")
            i.far.fa-arrow-alt-circle-left.fa-2x(aria-hidden="true") Back
      hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")
      .row.mt-3
            if books !== null
                  each book in books
                        .col-lg-4.col-md-6.my-3
                              +createList(book)
            else 
                .text-center.text-light.h1 No Documents