extends ../../layouts/main.pug 

include ../../mixins/books.pug

block styles
    link(rel="stylesheet" href="http://localhost:3000/css/books.css")

block content
    
    .row
            if books !== null
                  each book in books
                        .col-lg-4.col-md-6.my-3
                              +createList(book)
            else 
                .text-center.text-light.h1 No Documents