extends ../../layouts/main.pug 

include ../../mixins/movies


block content
     
      .row
            if movies !== null
                  each movie in movies
                        .col-lg-4.col-md-6.my-3
                              +createList(movie)