extends ../../layouts/main.pug 

block styles
  
    link(rel="stylesheet" href="http://localhost:3000/css/selector.css")

block content
      .text-center.h4.text-light.font-weight-bolder Önerilenler
      hr.mt-2.border-secondary(style="border: 3px solid black; border-radius:10px")
      .row#content.mt-3




block scripts
      script(src="http://localhost:3000/js/selector.js")