extends ../../layouts/main.pug 


block content
      .text-center.display-2.text-light Önerilenler
      hr
      .row#content.mt-3




block scripts
      script(src="http://localhost:3000/js/selector.js")