extends ../../layouts/main.pug 

include ../../mixins/top50

block content
     
      .row
            if movies !== null
                  table.table.table-dark
                        thead
                              tr
                                    th(scope="col") #
                                    th(scope="col") #Poster
                                    th(scope="col") #Title
                                    th(scope="col") #Rating
                        tbody
                              each movie in movies
                                    tr
                                          +createList(movie)
            else 
                .text-center.text-light.h1 No Documents