mixin createList(book)
    .card.mb-3.bg-white.border-0
        img.card-img-top(src="http://localhost:3000/img/kitaplar.jpeg")
        .card-body.bg-dark
            .card-title.text-center.text-light.border-0.font-weight-bold.h6.bg-dark #{book.title}
            .card-title.bg-dark.text-light #{book.description} 
                        a.stretched-link(href=`${book.amazon_product_url}` target="_blank")
            .card-footer.mt-3.text-center.text-light.bg-dark (#{book.author}) 
                      