mixin createList(movie)
    .card.mb-3.bg-white.border-0
        img.card-img-top(src=`${movie.img}`)
        .card-body
            .card-title.border-0.text-center
                b.card-title.text-center.text-dark.border-0 #{movie.name}
                        a.stretched-link(href=`${movie.ticket}` target="_blank")