mixin createList(event)
    
    .card.mb-3.bg-secondary.border-0
        a.stretched-link(href=`${event.ticket}` target ="_blank")
        img.card-img-top.w-100.img-thumbnail(src=`${event.img}`)
        .card-body.bg-dark
            .card-title.text-center.text-white.border-0 #{event.name}
            .card-title.text-center.text-white.border-0 #{event.date}
                    

block scripts
    script(src="http://localhost:3000/js/events.js")  