mixin createList(movie)
    .card.mb-3.bg-secondary.border-0
        
        img.card-img-top(src="http://localhost:3000/img/filmler.jpeg")
        .card-body
            .card-title.border-0.text-center
                b.card-header.text-center.text-white.border-0.h6 #{movie.title}
                    a.stretched-link(href="https://www.imdb.com/?ref_=nv_home" target="_blank")           