mixin createList(movie)
    .card.mb-3
        .card-header #{movie.title}
        .card-body 
            .card-title #{movie.studio}
            .card-text #{movie.worldwide_gross}
        .card-footer Footer